.view_slice {
    float: left;
    padding: 15px;
    font-size: 20px;
    background-color: lightskyblue;
}

#view_space {
    float: left;
    padding: 30px;
    height: auto;
    width: auto;
}

#inform_screen {
    float: left;
    margin-top: 15px;
    width: 100%;
}

#screen_lists {
    padding: 7px;
    display: inline-block;
    width: 100%;
    border: 1px solid lightblue;
}

.list_selective {
    display: inline-block;
    min-width: 200px;
    margin-left: 30px;
}

#main_container {
    min-height: 500px;
}

#main_container {
    display: inline;
    float: left;
    background-color: aliceblue;
    width: 70%;
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 933px;
}

#edit_container {
    padding: 15px 0px;
    display: inline-block;
    background-color: aliceblue;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
}

#records_stats {
    margin-left: 37%;
    padding: 20px;
}

#detail_container {
    display: inline;
    float: left;
    min-height: 500px;
    background-color: lightgrey;
    width: 30%;
}

#data_field {
    vertical-align: top;
    display: inline-block;
    border: 1px solid lightslategray;
    min-height: 35px;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
}

#data_field img {
    max-width: 33px;
    max-height: 33px;
}

.toolbox {
    display: block;
}

.helper,
.minimize,
.left_attr,
.right_attr {
    display: inline-block;
    border: 1px solid lightslategray;
}

.toolbox {
    ...
}

img {
    max-width: 20px;
    max-height: 20px;
}

.preview {
    margin: 20px;
    width: 150px;
    height: 150px;
}

#data_field img {
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
}

#edit_avia {
    margin: 25px 0px;
    background-color: aliceblue;
}

.edit_field {
    margin: 0px 25px;
    display: inline-block;
    min-width: 200px;
}