body {
    margin: 0;
}

.view_slice {
    float: left;
    padding: 15px;
    font-size: 20px;
    background-color: lightskyblue;
}

#view_space {
    float: left;
    padding: 30px;
    height: auto;
    width: auto;
}

#inform_screen {
    float: left;
    margin-top: 15px;
    width: 100%;
}

#main_container {
    min-height: 500px;
}

#main_container {
    display: inline;
    float: left;
    width: 70%;
    background-color: aliceblue;
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 944px;
}

#edit_container {
    margin: 15px 0;
    padding: 15px 0px;
    display: inline-block;
    background-color: aliceblue;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    border: 1px solid lightblue;
}

#records_stats {
    margin-left: 37%;
    padding: 20px;
}

#detail_container {
    display: inline;
    float: left;
    min-height: 500px;
    background-color: lightgrey;
    width: 30%;
}

#data_field {
    vertical-align: top;
    display: inline-block;
    border: 1px solid lightslategray;
    min-height: 35px;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
}

#data_field img {
    max-width: 33px;
    max-height: 33px;
}

.toolbox {
    display: block;
}

.helper,
.minimize,
.left_attr,
.right_attr,
.add,
.edit,
.remove {
    display: inline-block;
    border: 1px solid lightslategray;
}

.toolbox {
    ...
}

.icon img {
    max-width: 30px;
    max-height: 30px;
}

.preview {
    margin: 20px;
    width: 150px;
    height: 150px;
}

.preview img {
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
}

#edit_avia {
    padding: 10px 0;
    background-color: aliceblue;
}

.edit_field {
    margin: 0px 25px;
    display: inline-block;
    min-width: 200px;
}

#fon {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.4;
}

#modal_text {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    background-color: #fefefe;
}

#close_modal {
    cursor: pointer;
    max-width: 30px;
    max-height: 30px;
    position: relative;
}

table tr td {
    vertical-align: top;
    border: 1px solid lightslategray;
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    height: 35px;
    max-height: 35px;
}

table tr td img {
    max-width: 35px;
    max-height: 35px;
}

#records_table {
    table-layout: fixed;
    width: 200%;
}

#fields_container {
    width: 90%;
    height: 270px;
    margin: 0 auto;
    overflow: auto;
}

#fields_container input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.input,
.buffer {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.input {
    border: none;
    min-width: 200px;
}

.buffer {
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
}